
<div class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae exercitationem nulla voluptatibus porro nemo officia, iure quae, iusto dolor pariatur asperiores aperiam, similique reiciendis at praesentium ipsum ducimus rerum quaerat nesciunt soluta dolores saepe assumenda consectetur magni? Dolor, dolores facere?</p>
    </div>
</div>
<!--h1>About Us</h1-->