<div class="jumbotron mt-4">
    <h1 class="display-4">Notas App Nodejs y Mongodb</h1>
    <p class="lead">Aplicación web Backend y Frontend, utilizando Nodejs, Mongodb, Express y otras tecnologías Javascript.</p>
    <hr class="my-4">
    <p>Esta es una aplicacion de Notas, que sera un CRUD de nodejs de Notas, más un Login y Registro utilizando Mongodb, 
        las rutas del servidor estan protegidas y se estilizo la aplicación con CSS y Bootstrap4.</p>
    <a href="/" class="btn btn-primary btn-lg">Notas</a>
</div>
<!--h1>Index</h1-->